page-notas {
  #map{

    height: 200px;

  }
  .vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}
.hr {
  border-bottom: 1px solid #ccc;
  margin: 10px 0;
  width: 100%;
}

}
